---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

     <div class="IN_POST_CONTENT">
       {{ post.content }}
     </div>

     <div class="IN_TAG_COMMENTS">
      <!-- comments-count -->
      <i class="fa fa-comment"></i>
      <a class="disqus-comment-count" href="{{ site.newbaseurl }}{{ post.url }}#disqus_thread"></a>
     </div>

     <div class="IN_POST_READ">
         <a href="{{ post.url }}">more</a>
     </div>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

<!-- comments-count -->
<script id="dsq-count-scr" src="//da-bao-kai-fa-xue-xi-zhi.disqus.com/count.js" async></script>