---
layout: default
---

{% include i18n.html %}
<article class="post post-single">
  <header class="post-header">
    {% if page.category %}
      <a class="post-category" href="/Label/#{{ page.category }}">{{ page.category }}</a>
    {% endif %}
    <h1 class="post-title">{{ page.subtitle }}</h1>
  </header>
  {% if page.date %}
    <span class="post-date">{{ page.date | date: "%Y.%m.%d" }}</span>
  {% endif %}
  {{ content }}
</article>

<div class="related">
  <h2>{{ t.posts.related }}</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.subtitle }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
